/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
    
}

.main{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.register_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input_form{
    width: 300px;
    height: 30px;
    border-color: blue;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.register_button{
    
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 10px;
    padding: 10px;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
  }
  
  h1{
    text-align: center;
    color:rgb(34,193,195);
  }
  
  #form button{
    background-color: rgb(34,193,195);
    color:white;
    border: 1px solid rgb(34,193,195);
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
  }
  
  .input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
  }
  
  .input-group input:focus{
    outline:0;
  }
  
  .input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
  }
  
  .input-group.success input{
    border-color: green;
  }
  
  .input-group.error input{
    border-color:rgb(206, 67, 67);
  }